ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
    color: white;


}

ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: beige;
    overflow: hidden;
    
}

li{
    float: left;
    border-right: 1px solid white;
}

li a{
    color: white;
    display: block;
    padding: 20px 24px;
    text-align: center;
    text-decoration: none;
}
li a:hover{
    background-color: black;
}


body{
    background-color: blue;
    
}